<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="adbeb61f-3447-404b-aae0-0ee5d478727a" Version="1.0.0.0" Publisher="CN=Ryan" />
  <Properties>
    <DisplayName>VSWindowClientWin8</DisplayName>
    <PublisherDisplayName>Ryan</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <VisualElements DisplayName="VS Window" Logo="images\logo.png" SmallLogo="images\smalllogo.png" Description="VS Window - Visual Studio Developer Toolbar" ForegroundText="light" BackgroundColor="#007ACC">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="images\splashscreen.png" BackgroundColor="#007ACC" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="privateNetworkClientServer" />
    <Capability Name="internetClientServer" />
    <Capability Name="internetClient" />
  </Capabilities>
</Package>